<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WorkAroundProjectApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkAroundProject"
        tools:targetApi="34">
        <activity
            android:name=".room.NotesActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".cat_retrofit.ui.CatFactActivity"
            android:exported="true"/>

        <activity
            android:name=".somestuff.MainActivity"
            android:exported="true"/>
        <activity
            android:name=".somestuff.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".somestuff.RecyclerViewActivity"
            android:exported="true"/>

    </application>

</manifest>